@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    background-color: #a5c4d4;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
    font-size: 16px;
    /* border: 1px solid red; */
}

body {
    background-color: #a5c4d4;
}

.customnav {
    background-color: #708E9D;
}

.customhtext {
    font-size: 2em;
    color: #fff;
    pointer-events: none;
}

.input-group-text {
    color: #3f3f3f;
}

.customcontainer {
    margin-top: 30px; 
}

h2 {
    color: #354A54;
}

.pastSearchButtonC {
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    /* border: none;
    color: #6c757d; */
}

#prevsearch {
    margin-top: 10px;
}

/* #pastSearchButton:hover {
    color: #fff;
} */

p {
    font-size: 1.5em;
    color: #354A54;
}

/* #currentcond {
    margin-bottom: 50px;
} */

.customborder {
    border: 5px dashed #6c757d;
    padding: 10px;
    /* border-radius: 25px; */
}

/* .col-3 {
    height: 75%;
} */

.custom5daycontainer {
    margin: auto;
    margin-bottom: 10px;
}